################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SecureChat.Core/bin/
/SecureChat.Core/obj/
/SecureChatWeb/obj
/SecureChatWeb/bin/
*.user
/SecureChatWeb/wwwroot/css/*.css
/SecureChatWeb/compilerconfig.json
/SecureChatWeb/compilerconfig.json.defaults
