################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SecureChat.Core/bin/Debug/netstandard2.0
