
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Secure Chat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/ChatStyle.min.css" />
    <link rel="stylesheet" href="/css/chat.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/openpgp/4.1.1/openpgp.min.js" integrity="sha256-cCbXCXFtmfUAZQw8wsd+SZiMWO7IazAKby86lZZNQ0o=" crossorigin="anonymous"></script>
    <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top start-hidden" role="navigation">
        <div class="container">
            <div id="navbar" class="navbar-left">
                <form class="navbar-form navbar-right" role="form">
                    <button id="buttonDisconnect" class="btn btn-danger" type="button">Disconnect</button>
                </form>
            </div>
            <div id="speakerbutton" class="navbar-right speakerOn" title="Toggle Sound"></div>
        </div>
    </nav>
    <input type="hidden" id="inputChatRoom" value="@ViewData["RoomNumber"]" />
    <input type="hidden" id="inputPassword" />
    <script>
        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        };

        document.getElementById("inputPassword").value = guid();
    </script>
    <div id="SignInContainer" class="container">
        <form class="form-signin" id="formLogin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputUserName" class="sr-only">Name</label>
            <input type="text" id="inputUserName" class="form-control" placeholder="Name" required autofocus>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>

    <div id="divChat" class="start-hidden row">
        <div class="col-lg-4 col-md-3 col-xs-1"></div>
        <div class="col-lg-4 col-md-6 col-xs-10">
            <div class="panel panel-names">
                <!-- Members that are on the Chat -->
                <ul id="ulChatUsers" class="list-group"></ul>
            </div>
            <div class="panel panel-default">
                <!-- Posted Messages -->
                <div class="panel-body" id="divChatMessages">
                    <ul class="chat" id="ulChatPanel"></ul>
                </div>
            </div>
            <div>
                <!-- Chat form -->
                <div class="form-group">
                    <div id="MoreMessagesWarning" class="more-messages start-hidden">More Messages Below</div>
                    <textarea class="form-control" rows="3" id="chatinput"></textarea>
                    <button id="buttonSubmitChat" class="btn btn-success" type="button">Send</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-xs-1"></div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/lib/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="/Scripts/ServerCommunication.js"></script>
    <script src="/Scripts/SecureChatWeb-UI.js"></script>
    <script src="~/Scripts/EncryptDecrypt.js"></script>
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js" integrity="sha256-u6BamZiW5tCemje2nrteKC2KoLIKX9lKPSpvCkOhamw=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>


</body>
</html>